Source: pantheon-files
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementaryos.org>
Vcs-Bzr: https://code.launchpad.net/~elementary-apps/pantheon-files/trunk
Build-Depends: cmake (>= 2.6),
               debhelper (>= 9),
               gnome-common,
               libdbus-glib-1-dev,
               libgail-3-dev,
               libgee-0.8-dev,
               libglib2.0-dev (>= 2.29.0),
               libgranite-dev (>= 0.3.0~),
               libgtk-3-dev (>= 3.10),
               libnotify-dev (>= 0.7.2),
               libpango1.0-dev (>= 1.1.2),
               libsqlite3-dev,
               libunity-dev (>= 4.0.0),
               libzeitgeist-2.0-dev,
               valac (>= 0.16)
Homepage: https://launchpad.net/pantheon-files
Standards-Version: 3.9.5

Package: pantheon-files
Architecture: any
Depends: tumbler, ${misc:Depends}, ${shlibs:Depends}
Recommends: contractor
Suggests: tumbler-plugins-extra
Description: File manager for the Pantheon desktop
 TODO

Package: pantheon-files-dbg
Architecture: any
Section: debug
Priority: extra
Depends: pantheon-files (= ${binary:Version}), ${misc:Depends}
Enhances: pantheon-files
Description: File manager for the Pantheon desktop (debugging symbols)
 TODO
 .
 This package contains the debugging symbols for pantheon-files.

Package: libpantheon-files-core0
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: pantheon-files
Description: TODO
 TODO

Package: libpantheon-files-core-dev
Architecture: any
Section: libdevel
Depends: libpantheon-files-core0 (= ${binary:Version}), ${misc:Depends}
Description: TODO
 TODO

Package: libpantheon-files-widgets0
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: TODO
 TODO

Package: libpantheon-files-widgets-dev
Architecture: any
Section: libdevel
Depends: libpantheon-files-widgets0 (= ${binary:Version}), ${misc:Depends}
Suggests: pantheon-files
Description: TODO
 TODO