Source: marlin
Section: x11
Priority: optional
Maintainer: ammonkey <am.monkeyd@gmail.com>
Vcs-Bzr: https://code.launchpad.net/~marlin-devs/marlin/trunk
Build-Depends: debhelper (>= 7), pkg-config, cmake, valac (>= 0.11.2), libglib2.0-dev (>= 2.29.0), libpango1.0-dev (>= 1.1.2), libgtk-3-dev (>= 3.0.3), libgee-dev, libvarka-dev, libsqlite3-dev, libnotify4-dev (>= 0.7.2) | libnotify-dev (>= 0.7.2), gnome-common, libgail-3-dev, libdbus-glib-1-dev, libunity-dev (>= 4.0.0) 
Homepage: https://launchpad.net/marlin
Standards-Version: 3.8.4

Package: marlin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tumbler, contractor
Pre-Depends: dpkg (>= 1.15.6)
Suggests: tumbler-plugins-extra
Description: The sexiest fish in the large sea of file managers, Marlin is well-designed with a focus on speed, simplicity, ease of use.

Package: marlin-dbg
Architecture: any
Section: debug
Priority: extra
Depends: marlin (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: marlin
Description: Debugging symbols for Marlin file manager.

