.color-button radio,
.color-button radio:checked {
    border: 1px solid @border_color;
    border-radius: 12px;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
    min-height: 11px;
    min-width: 11px;
    padding: 3px;
    -gtk-icon-shadow: none;
}

.color-button.white radio {
    background: @base_color;
    color: mix (@text_color, @base_color, 0.5);
    min-height: 16px;
    min-width: 16px;
    padding: 1px;
    -gtk-icon-source: -gtk-icontheme("close-symbolic");
}

.color-button.red radio {
    background: @STRAWBERRY_300;
}

.color-button.orange radio {
    background: @ORANGE_300;
}

.color-button.yellow radio {
    background: @BANANA_500;
}

.color-button.green radio {
    background: @LIME_500;
}

.color-button.blue radio {
    background: @BLUEBERRY_500;
}

.color-button.purple radio {
    background: @GRAPE_500;
}

.color-button.brown radio {
    background: @COCOA_300;
}

.color-button.slate radio {
    background: @SLATE_300;
}
