.color-button {
    border: 1px solid alpha (#000, 0.3);
    border-radius: 16px;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
    min-height: 16px;
    min-width: 16px;
}

.color-button.red {
    background: @STRAWBERRY_300;
}

.color-button.orange {
    background: @ORANGE_300;
}

.color-button.yellow {
    background: @BANANA_500;
}

.color-button.green {
    background: @LIME_500;
}

.color-button.blue {
    background: @BLUEBERRY_500;
}

.color-button.purple {
    background: @GRAPE_500;
}

.color-button.brown {
    background: @COCOA_300;
}

.color-button.slate {
    background: @SLATE_300;
}
