.color-button check,
.color-button check:checked {
    border: 1px solid @border_color;
    border-radius: 12px;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
    min-height: 10px;
    min-width: 10px;
    padding: 3px;
    -gtk-icon-shadow: none;
}

.color-button.none check {
    background: @base_color;
    color: mix (@text_color, @base_color, 0.5);
    min-height: 16px;
    min-width: 16px;
    padding: 1px;
    -gtk-icon-source: -gtk-icontheme("close-symbolic");
}

.color-button.red check {
    background: @STRAWBERRY_300;
}

.color-button.orange check {
    background: @ORANGE_300;
}

.color-button.yellow check {
    background: @BANANA_500;
}

.color-button.green check {
    background: @LIME_500;
}

.color-button.blue check {
    background: @BLUEBERRY_500;
}

.color-button.purple check {
    background: @GRAPE_500;
}

.color-button.brown check {
    background: @COCOA_300;
}

.color-button.slate check {
    background: @SLATE_300;
}
