.sidebar levelbar block {
    border: none;
    box-shadow: none;
    min-height: 3px;
}

.sidebar levelbar block.filled {
    background: alpha (@text_color, 0.6);
}

.sidebar levelbar block.filled.high {
    background: @warning_color;
}

.sidebar levelbar block.filled.high + .empty{
    background: alpha (@warning_color, 0.2);
}

.sidebar levelbar block.filled.full {
    background: @error_color;
}

.sidebar levelbar block.filled.full + .empty{
    background: alpha (@error_color, 0.2);
}

.sidebar levelbar block.filled:backdrop {
    background: alpha (@text_color, 0.2);
}

.sidebar levelbar block.empty {
    background: alpha (@text_color, 0.2);
}

.sidebar levelbar block.empty:backdrop {
    background: alpha (@text_color, 0.1);
}
