fileitem {
    background: transparent;
    border: 5px solid transparent;
    border-radius: 1.0rem;
}

fileitem.selected {
    background: @selected_bg_color;
    border: 5px solid @theme_bg_color;
    border-radius: 1.0rem;
}

