name: Gettext updates
on:
  push:
    branches: master
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  gettext_template:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v1
    - uses: elementary/actions/gettext-template@horus
      env:
        GIT_USER_TOKEN: "${{ secrets.GIT_USER_TOKEN }}"
        GIT_USER_NAME: "elementaryBot"
        GIT_USER_EMAIL: "builds@elementary.io"
