name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libgee-0.8-dev libglib2.0-dev libgranite-dev libgtk-3-dev libhandy-1-dev libcanberra-dev
        apt install -y libcloudproviders-dev libdbus-glib-1-dev libpango1.0-dev
        apt install -y libsqlite3-dev libunity-dev libzeitgeist-2.0-dev policykit-1 libgit2-glib-1.0-dev
        apt install -y meson valac
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson --prefix=/usr build
        cd build
        ninja install

    - name: Test
      env:
        DESTDIR: out
      run: |
        cd build
        ninja test

  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: io.elementary.vala-lint -d .
